<% title(@project.name, "Projects") %>

<h2><%= @project.name %></h2>

<% admins_only do %>

	<%= link_to "Edit Project", edit_project_path(@project) %>
	<%= link_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete this project?" } %>

<% end %>

<%= link_to "New Ticket", new_project_ticket_path(@project) %>

<ul id='tickets'>
  <% @project.tickets.each do |ticket| %>
      <li>
        #<%= ticket.id %> -<%= link_to ticket.title, [@project, ticket] %>
      </li>
  <% end %>
</ul>

