<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
        <%= yield(:title) %>
    <% else %>
        Ticketee
    <% end %>
 </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if current_user %>
      Signed in as <%= current_user.email %>

      <% admins_only do %>
        <%= link_to "Admin", admin_root_path %>
      <% end %>
    <% else %>
      <ul>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to "Sign in", signin_path %></li>
      </ul>
    <% end %>
  </nav>
	<% flash.each do |key, value| %>
	    <div class='flash' id='<%= key %>'>
	      <%= value %>
	    </div>
	<% end %>

<%= yield %>

</body>
</html>
